.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.leftimg {
  width: 30px;
  height: 30px;
  padding: 5px;
  object-fit: cover;
}
.innerDiv {
  display: flex;
  align-items: center;
  width: 300px;
  border-radius: 5px;
  font-size: 16px;
}
.rightContainer {
  display: flex;
  flex-direction: column;
}
.caption {
  text-align: center;
  border: none;
}
.rightimg {
  width: 400px;
  height: 500px;
  padding: 5px;
  object-fit: cover;
}
.innerDiv:focus {
  background-color: blue;
  color: white;
}
