.itemIMG {
  width: 30px;
  height: 30px;
  padding: 5px;
  object-fit: cover;
}
.selected {
  background-color: blue;
  color: white;
}
.innerDiv {
  width: 300px;
  height: 60px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
figure img {
  width: 400px;
  height: 500px;
  object-fit: cover;
}
main {
  display: flex;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
}
textarea {
  width: 400px;
  border: none;
  display: block;
  text-align: center;
}
